/*
 * CSS VARIABLES: COLORS
 */
:root {
    --white: #ffffff;
    --very-light-grey: #cccccc;
    --dim-gray: #5e5e5e;
    --charcoal: #494949;
    --malachite: #1ed760;
    --black: #000000;
    --default-text-color: var(--black);
    --default-background:  var(--black);
    --color--main: var(--black);

    --link-text: var(--white);
    --link-border: var(--white);
    --social-icon: rgba(0, 0, 0, .8);
    --social-icon--hover: rgba(0, 0, 0, 1);
    --spotify: var(--malachite);
}

/* Example */
.element {
    color: var(--default-text-color);
    background-color: var(--default-background);
}