:root {
    --font-family--fallback: 'Helvetica', 'Arial', sans-serif;
    --font-family: 'Yanone Kaffeesatz', var(--font-family--fallback);
    --font-family--title: 'Black Han Sans', var(--font-family--fallback);
    --font-weight: 400;
    --font-weight--title: 800;
    --font-size: 1.5em;
    --font-size--title: calc(1.2 * var(--font-size));
    --font-line-height: 1.25;
    --font-line-height--title: calc(2 * var(--font-line-height));
    --font-shadow: 1px 1px var(--very-light-grey);
    --font-shadow--title: 1px 1px var(--very-light-grey);
}