/*
 * CSS VARIABLES: LAYOUT
 */
:root {
    --layout--mobile: 400px;
    --layout--tablet: 800px;
    --layout--desktop: 1024px;
    --layout-wrap-width: var(--layout--mobile);
    --layout-wrap-width--medium: var(--layout--tablet);
    --layout-wrap-width--large: var(--layout--tablet);
    --layout-wrap-margin: 20px;
    --layout-wrap-margin--medium: 20px;
    --layout-wrap-margin--large: 20px;
    --layout-padding: 5%;
    --layout-padding--medium: 20px;
    --layout-padding--large: 20px;
    --layout-content-width: calc(var(--layout-wrap-width) - (2 * var(--layout-wrap-margin)));
    --layout-content-width--medium: calc(var(--layout-wrap-width--medium) - (2 * var(--layout-wrap-margin--medium)));
    --layout-content-width--large: calc(var(--layout-wrap-width--large) - (2 * var(--layout-wrap-margin--large)));
    --layout-navigation-height: 50px;
    --layout-footer-height: 50px;
    --layout-logo--width: 50px;
    --layout-logo--width--medium: 50px;
    --layout-logo--width--large: 50px;
    --layout-link--border-thickness: 2px;
}

/* Example */
.element {
    width: var(--layout-content-width);
    padding:  var(--layout-padding);
}