/**
 * COMPONENT: ALBUM DETAIL
 */
:root {
    --column-ammount: 4;
}

.c-album {
    flex: 0 1 200px;
    align-self: stretch;
    cursor: pointer;
}
.c-album__link {
    color: currentColor;
    text-decoration: none;
}
.c-album__cover {
    line-height: 0;
    border: 1px solid black;
    margin: 5% 5% 0;
    background-color: var(--black);
}
.c-album__detail .c-album__cover {
    margin: 0;
}
.c-album__cover-image {
    opacity: 0.5;
    transition: all 0.5s ease;
}
.c-album:hover .c-album__cover-image {
    opacity: 1;
}

.c-album__detail .c-album__cover-image {
    opacity: 1;
    max-width: none;
    width: 100%;
}

.c-album__info {
    background-color: rgba(255,255,255,.5);
    border: 1px solid black;
    border-top-width: 0;
    margin: 0 5% 5%;
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease;
}
.c-album__detail .c-album__info {
    margin: 0;
}
.c-album:hover .c-album__info {
    background-color: rgba(255,255,255,1);
}
.c-album__title {
    padding: 5%;
    font-family: var(--font-family--title);
    font-size: 1rem;
}
.c-album__ammount-tracks {
    padding: 0 5% 5%;
    font-size: 0.8rem;
}
.c-album__release-date {
    padding: 0 5% 5%;
    font-size: 0.8rem;
}
.c-album__ammount-tracks::before {
    content: "tracks: ";
    color: var(--dim-gray);
    font-style: italic;
}
.c-album__release-date::before {
    content: "release date: ";
    color: var(--dim-gray);
    font-style: italic;
}