/**
 * COMPONENT: ARTICLE
 */
:root {
    --column-ammount: 4;
}

.c-article {
    width: var(--layout-content-width);
    margin: 0 auto;
    padding: 0 var(--layout-padding) calc(2 * var(--layout-padding));
    background-color: rgba(255,255,255,.5);
}

@media screen and (min-width: 1025px) {
    .c-article {
        width: var(--layout-content-width--large);
    }
}

@media screen and (max-width: 1024px) and  (min-width: 800px) {
    .c-article {
        width: var(--layout-content-width--medium);
    }
}

.c-article__title {
    font-family: var(--font-family--title);
    font-weight: var(--font-weight--title);
    font-size: var(--font-size--title);
    line-height: var(--font-line-height--title);
}

.c-article__definition-list {}
.c-article__definition-term {}
.c-article__definition-description {}