/**
 * COMPONENT: PAGES
 */

.c-page {
    background-color: black;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    background-attachment: fixed;
    background-size: cover;
    object-fit: cover;
}
.c-page__home {
    background-image: url("https://lastfm-img2.akamaized.net/i/u/770x0/bc1de2a4320e4c5680a02fc04a135693.jpg#bc1de2a4320e4c5680a02fc04a135693");
}
.c-page__album {
    background-image: url("https://lastfm-img2.akamaized.net/i/u/770x0/ab519991e6db44eb836c66397d84d0f9.jpg#ab519991e6db44eb836c66397d84d0f9");
}
.c-page__tour {
    background-image: url("https://lastfm-img2.akamaized.net/i/u/770x0/2ecbae094b6b4081c04aebf9353df66a.jpg#2ecbae094b6b4081c04aebf9353df66a");
    background-position-y: center;
}
.c-page__contact {
    background-image: url("https://lastfm-img2.akamaized.net/i/u/770x0/052938f63ba44180ae9b444fe60758af.jpg#052938f63ba44180ae9b444fe60758af");
}