/**
 * Component Logo
 */

.c-logo {
    flex: 0 1 var(--layout-navigation-height);
    align-self: auto;
    height: var(--layout-navigation-height);
}

.c-logo__link {
    text-decoration: none;
}

.c-logo__image {
    width: auto;
    height: var(--layout-navigation-height);
    line-height: 0;
    fill: var(--spotify);
}