/**
 * GLOBAL
 */

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: var(--font-line-height);
}

ul {
    margin: 0;
    padding: 0;
}

p {
    text-shadow: var(--font-shadow);
    padding-bottom: var(--font-size);
}

h1 {
    text-shadow: var(--font-shadow--title);
}

.container {
    height: 100vh;
}

.main {
    padding-top: var(--layout-navigation-height);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 75%,rgba(255,255,255,1) 100%);
}
