/**
 * Component Header
 */


.c-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: flex-start;
    background-color: var(--color--main);
    position: fixed;
    z-index: 10;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
    border-bottom: var(--layout-link--border-thickness) solid white;
}
