/**
 * COMPONENT: FOOTER
 */
:root {
    --copyright: 160px;
}

.c-footer {
    height: var(--layout-footer-height);
    border-top: var(--layout-link--border-thickness) solid var(--color--main);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    background-color: white;
}

.c-footer__copyright {
    text-shadow: var(--font-shadow);
    flex: 0 1 auto;
    align-self: auto;
}

.c-footer__social {
    flex: 1 1 var(--layout--mobile);
    align-self: auto;
    height: var(--layout-navigation-height);

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: stretch;
    align-items: center;
}
@media screen and (min-width: 1025px) {
    .c-footer__social {
        flex-grow: 0;
        flex-basis: calc(var(--layout-content-width--large) - var(--copyright));
    }
}
@media screen and (max-width: 1024px) and (min-width: 800px) {
    .c-footer__social {
        flex-grow: 0;
        flex-basis: calc(var(--layout-content-width--medium) - var(--copyright));
    }
}

.c-footer__social-link {
    flex: 0 1 auto;
    align-self: auto;
    padding: 0 0 0 10px;
}

.c-footer__social-icon {
    width: 25px;
    height: auto;
    fill: var(--social-icon);
    transition: all 0.3s ease;
    text-shadow: var(--font-shadow);
}

.c-footer__social-link:hover .c-footer__social-icon {
    fill:  var(--social-icon--hover);
}

