/**
 * Component NavigationBar
 */

.c-navigation-bar {
    flex: 1 1 var(--layout--mobile);
    align-self: auto;
    height: var(--layout-navigation-height);
}
@media screen and (min-width: 1025px) {
    .c-navigation-bar {
        flex-grow: 0;
        flex-basis: calc(var(--layout-content-width--large) - var(--layout-logo--width--large));
    }
}
@media screen and (max-width: 1024px) and (min-width: 800px) {
    .c-navigation-bar {
        flex-grow: 0;
        flex-basis: calc(var(--layout-content-width--medium) - var(--layout-logo--width--medium));
    }
}


.c-navigation-bar__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: stretch;
    align-items: center;
    height: var(--layout-navigation-height);
}
.c-navigation-bar__list-item {
    flex: 1 1 auto;
    align-self: center;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: stretch;
    align-items: center;
    height: var(--layout-navigation-height);
}

.c-navigation-bar__list--sub {
    visibility: hidden;
    left: -2px;
    padding: 0;
    position: absolute;
    top: var(--layout-navigation-height);
    height: var(--layout-navigation-height);
    width: 100%;
}
.c-navigation-bar__list-item:hover .c-navigation-bar__list--sub {
    visibility: visible;
}


.c-navigation-bar__list-item--sub {
    float: left;
    padding: 0;
    position: relative;
    height: var(--layout-navigation-height);
    width: 100%;
    display:flex;
}

.c-navigation-bar__link,
.c-navigation-bar__link--sub {
    flex: 1 1 auto;
    align-self: center;
    font-size: 28px;
    padding-top: var(--layout-link--border-thickness);
    text-align: center;
    text-decoration: none;
    color: rgba(255, 255, 255, .5);
    background-color: var(--black);
    height: calc(var(--layout-navigation-height) - var(--layout-link--border-thickness));
    margin-bottom: calc(var(--layout-link--border-thickness) * -1); /* to get negative value */
    border-bottom: var(--layout-link--border-thickness) solid rgba(255, 255, 255, 0);
    transition: all 0.5s ease;
}

.c-navigation-bar__list-item:hover .c-navigation-bar__link:not(.is-active) {
    border-bottom-color: rgba(255, 255, 255, .8);
    color: rgba(255, 255, 255, .8);
}

.is-active {
    border-bottom-color: rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
}
